* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #F0F0F0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Variables declaration */
:root {
  --theme-color: #0024B0;
  --dark-grey: #343434;
}

/* App component */
header {
  background-color: var(--theme-color);
  text-align: center;
  color: white;
  min-height: 50px;
  border-bottom: var(--theme-color) 5px solid;
}

nav {
  background-color: var(--dark-grey);
  font-size: larger;
}

nav > a {
  padding: 5px;
}

#prof-head {
  background-color: var(--dark-grey);
  padding-right: 20px;
  text-align: right;
}

#prof-head img {
  border-radius: 50%;
  height: 30px;
  vertical-align: bottom;
}

header .fa-user {
  font-size: x-large;
  background-color: var(--theme-color);
  border-radius: 50%;
  padding: 5px;
}

.container {
  display: grid;
}

.btn-dark {
  background-color: var(--dark-grey);
  color: white;
  border: none;
  padding: 5px;
  font-size: larger;
}

footer {
  padding: 10px;
  background-color: var(--dark-grey);
  color: white;
  min-height: 100px;
}

footer a {
  font-weight: bold;
}

/* Posts component */
.posts-container {
  padding: 2%;
  grid-gap: 5px;
}

.spinner {
  text-align: center;
  display: none;
}

.error-bottom {
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

/* Post component */
.post {
  background-color: white;
  padding: 5px;
  padding-bottom: 10px;
  cursor: default;
  transition: margin 0.2s, box-shadow 0.2s;
  font-style: italic;
}

.post:hover {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: var(--dark-grey) 0 0 1px 1px;
}

.post-link {
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.post-link:hover {
  text-decoration: none;
}

.post > h3 {
  border-bottom: var(--dark-grey) 1px double;
}

.post > p {
  text-indent: 1em;
}

.post > span {
  float: right;
  font-weight: bold;
}

.post > i {
  margin-left: 15px;
  cursor: pointer;
}

/* Post page component */
.single-post {
  border-bottom: var(--theme-color) 20px solid;
}

.no-post {
  text-align: center;
  margin-bottom: 10px;
  display: none;
}

.no-post > h3 {
  margin: 10px;
}

.comments {
  grid-row-gap: 10px;
}

.comment {
  background-color: white;
  padding: 10px;
}

.comment > span {
  text-decoration: underline;
  font-weight: bold;
}

/* Registration component */

.log-page {
  text-align: center;
  padding: 10px;
  background-color: white;
  grid-row-gap: 15px;
}

.log-page a {
  color: var(--theme-color);
}

.error {
  font-size: larger;
  color: red;
}

.log-form {
  font-size: larger;
}

input {
  font-size: larger;
  border: var(--dark-grey) 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
}

#username {
  margin-right: 1.4em;
}

.eye-btn {
  font-size: large;
  background-color: white;
  border: none;
  padding: 5px;
}

.fa-eye {
  display: none;
}

.btn-submit {
  background-color: var(--theme-color);
  padding: 5px;
  font-size: larger;
  border: none;
  color: white;
  margin: 10px;
}

/* Profile component */
.profile {
  grid-template-columns: 1fr 3fr;
  background-color: white;
}

.prof-pic {
  text-align: center;
}

.prof-pic > img {
  margin: 10px 5px auto 5px;
  border-radius: 50%;
}

.prof-pic > button {
  margin: 5px;
}

.prof-info {
  padding: 5px 5px 5px 0;
}

.prof-info > h2 {
  border-bottom: solid 2px var(--theme-color);
}

.prof-info > h3 {
  margin-bottom: 20px;
  font-weight: normal;
}

#pic-panel {
  position: absolute;
  background-color: white;
  box-shadow: var(--dark-grey) 0 0 100px 50px;
  margin: 5%;
  width: 90%;
  padding: 10px;
  overflow: hidden;
  display: none;
}

#pic-panel > form {
  grid-template-areas:
    'input input input'
    'submit . .';
}

#pic-panel > button {
  float: right;
}

#pic-panel-input {
  grid-area: input;
  padding-left: 0;
}

#pic-panel-input::-webkit-file-upload-button {
  visibility: hidden;
}

#pic-panel-input::before {
  content: 'Chose file';
  display: inline-block;
  outline: none;
  -webkit-user-select: none;
  cursor: pointer;
  background-color: var(--theme-color);
  color: white;
  padding: 5px;
  height: 100%;
}

#pic-panel-submit {
  grid-area: submit;
}

#pic-panel input {
  width: 100%
}

