* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #F0F0F0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  font-size: larger;
  border: var(--dark-grey) 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
}

/* Variables declaration */
:root {
  --theme-color: #0024B0;
  --dark-grey: #343434;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-grey);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--theme-color);
}

/* App component */
header {
  background-color: var(--theme-color);
  text-align: center;
  color: white;
  min-height: 50px;
  border-bottom: var(--theme-color) 5px solid;
}

nav {
  background-color: var(--dark-grey);
  font-size: larger;
}

nav > a {
  padding: 5px;
}

#prof-head {
  background-color: var(--dark-grey);
  padding-right: 20px;
  text-align: right;
}

#prof-head img {
  border-radius: 50%;
  height: 30px;
  vertical-align: bottom;
}

header .fa-user {
  font-size: x-large;
  background-color: var(--theme-color);
  border-radius: 50%;
  padding: 5px;
}

.container {
  display: grid;
}

.btn-dark {
  background-color: var(--dark-grey);
  color: white;
  border: none;
  padding: 5px;
  font-size: larger;
}

.btn-blue {
  background-color: var(--theme-color);
  color: white;
  border: none;
  padding: 5px;
  font-size: larger;
}

footer {
  padding: 10px;
  background-color: var(--dark-grey);
  color: white;
  min-height: 100px;
}

footer a {
  font-weight: bold;
}

/* Posts component */
.posts-container {
  padding: 2%;
  grid-gap: 5px;
}

.spinner {
  text-align: center;
  display: none;
}

.error-top {
  text-align: center;
  font-weight: bold;
  color: red;
  font-size: large;
}

.error-bottom {
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

#new-post-form {
  background-color: var(--dark-grey);
  padding: 5px;
}

#new-post-input {
  margin: 0;
}

#new-post-form > textarea {
  display: none;
  margin-bottom: 10px;
  width: 100%;
  vertical-align: bottom;
  min-height: 150px;
  font-style: italic;
  font-size: x-large;
  padding-left: 5px;
}

#new-post-title {
  display: none;
  width: 100%;
  font-weight: bold;
  font-style: italic;
  font-size: x-large;
}

#new-post-form > button {
  margin-left: 15px;
  float: right;
}

#new-post-form > .btn-dark {
  display: none;
  padding-top: 0;
}

/* Post component */
.post {
  background-color: white;
  padding: 5px;
  padding-bottom: 10px;
  cursor: default;
  transition: margin 0.2s, box-shadow 0.2s;
  font-style: italic;
}

.post:hover {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: var(--dark-grey) 0 0 1px 1px;
}

.post a {
  color: black;
}

.post-link {
  background-color: rgba(0, 0, 0, 0);
}

.post-link:hover {
  text-decoration: none;
}

.post h3 {
  border-bottom: var(--dark-grey) 1px double;
}

.post p {
  text-indent: 1em;
}

.post span {
  float: right;
  font-weight: bold;
}

.post i {
  margin-left: 15px;
  cursor: pointer;
}

.post .fa-edit,
.post .fa-trash {
  float: right;
}

/* Post page component */
.single-post {
  border-bottom: var(--theme-color) 20px solid;
}

.no-post {
  text-align: center;
  margin-bottom: 10px;
  display: none;
}

.no-post > h3 {
  margin: 10px;
}

.comments {
  grid-row-gap: 10px;
}

.comment {
  background-color: white;
  padding: 10px;
}

.comment > span {
  text-decoration: underline;
  font-weight: bold;
}

#confirm-delete-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  box-shadow: var(--dark-grey) 0 0 100px 50px;
  padding: 10px;
  text-align: center;
}

#confirm-delete-box > button {
  margin: 5px 10px 5px 10px;
}

/* Registration component */

.log-page {
  text-align: center;
  padding: 10px;
  background-color: white;
  grid-row-gap: 15px;
}

.log-page a {
  color: var(--theme-color);
}

.error {
  font-size: larger;
  color: red;
}

.log-form {
  font-size: larger;
}

#username {
  margin-right: 1.4em;
}

.eye-btn {
  font-size: large;
  background-color: white;
  border: none;
  padding: 5px;
}

.fa-eye {
  display: none;
}

/* Profile component */
.profile {
  grid-template-columns: 1fr 3fr;
  background-color: white;
}

.prof-pic {
  text-align: center;
  margin: 5px;
}

.prof-pic > img {
  margin: 0;
  border-radius: 50%;
  width: 100%;
}

.prof-pic > button {
  margin: 5px;
}

.prof-info {
  padding: 5px 5px 5px 0;
  display: grid;
  grid-template-areas:
    'username username'
    'headline headline'
    '. headline-change'
    'recent-posts .'
    'recent-comments .';
  height: fit-content;
  grid-template-columns: 2fr 1fr;
}

.prof-info > h2 {
  border-bottom: solid 2px var(--theme-color);
  grid-area: username;
}

.prof-info > h3 {
  grid-area: headline;
  margin-bottom: 5px;
}

.headline-form {
  display: none;
  grid-template-areas:
    'headline-input headline-input'
    'headline-cancel headline-save';
  grid-column-gap: 5px;
}

.headline-form > input {
  grid-area: headline-input;
  margin-top: 5px;
}

.headline-change {
  grid-area: headline-change;
}

.headline-save {
  grid-area: headline-save;
}

.headline-cancel {
  grid-area: headline-cancel;
}

.recent-posts {
  grid-area: recent-posts;
}

.recent-comments {
  grid-area: recent-comments;
}

#pic-panel {
  position: absolute;
  background-color: white;
  box-shadow: var(--dark-grey) 0 0 100px 50px;
  margin: 5%;
  width: 90%;
  padding: 10px;
  overflow: hidden;
  display: none;
}

#pic-panel > form {
  grid-template-areas:
    'input input input'
    'submit preview preview'
    '. preview preview';
  grid-column-gap: 10px;
  margin-bottom: 10px;
}

#pic-panel > button {
  float: right;
}

#pic-panel-input {
  grid-area: input;
  padding-left: 0;
}

#pic-panel-input::-webkit-file-upload-button {
  visibility: hidden;
}

#pic-panel-input::before {
  content: 'Chose file';
  display: inline-block;
  outline: none;
  -webkit-user-select: none;
  cursor: pointer;
  background-color: var(--theme-color);
  color: white;
  padding: 5px;
  height: 100%;
}

#pic-panel-submit {
  grid-area: submit;
}

#pic-panel input {
  width: 100%
}

#preview {
  grid-area: preview;
  max-width: 100%;
}

/* Post Edit component */
.post-edit {
  background-color: white;
  text-align: center;
  padding: 10px;
}

.post-edit span {
  float: right;
  font-weight: bold;
}

.post-edit i {
  margin-left: 15px;
  cursor: pointer;
}

.post-edit a:hover {
  text-decoration: none;
  cursor: default;
}

.post-edit .fa-edit,
.post-edit .fa-trash {
  float: right;
}

.post-edit-form > input {
  width: 100%;
}

.post-edit-form > textarea {
  margin-bottom: 10px;
  width: 100%;
  vertical-align: bottom;
  min-height: 150px;
  font-style: italic;
  font-size: x-large;
}

.post-edit-form > button {
  margin: 0 5px 0 5px;
}

#edit-error {
  float: none;
}

/* Desktop resolution */
@media only screen and (min-width: 768px) {
  /* Posts component */
  .posts-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
  }

  .error-top,
  #new-post-form,
  .spinner,
  .error-bottom {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  /* Post page component */
  .post-page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80vh;
  }

  .comments {
    overflow-y: scroll;
    border-bottom: var(--theme-color) 20px solid;
    padding-left: 10px;
    background-color: var(--dark-grey);
  }

  /* Profile component */
  .headline-form {
    display: none;
    grid-template-areas:
      'headline-input headline-input .'
      'headline-cancel headline-save .';
    grid-template-columns: 1fr 1fr 1fr;
  }

  #pic-panel > form {
    grid-template-columns: 1fr 1fr 2fr;
  }

  #preview {
    max-width: 50%;
  }
}
